<a id="postLink" href="/editBlogpost/{{id}}">
  <section id="postPreview">
    <container>
      <p><h3>{{title}}</h3></p>
    </container>
    <container>
      {{date_posted}}
    </container>
  </section>
</a>
