<a href="/blogpost/{{id}}">
<section id="postPreview">
    <container>
        <p>
        <h3>{{title}}</h3>
        </p>
    </container>
    <container>
        <p><h6>by: {{user.username}}</h6></p>
        <p>{{date_posted}}</p>
    </container>
</section>
</a>