<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><strong>Tech Blog</strong></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
            <a href="/" id="logout">Logout</a>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>

    <main class="container">
        <div class="homepage">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>