<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <header>
        <h1>Tech Blog Header</h1>
    </header>
    <nav>
        Home
    </nav>

    <main>
        <div class="homepage">
            {{{body}}}
        </div>
    </main>
</body>
</html>