<div id="singlePost">
  <div>
    <div id="postTitle">
        {{blogpost.title}} - {{blogpost.user.username}}
    </div>
    <hr>
    <div id="postBody">
        {{blogpost.body}}
    </div>
  </div>
</div>