<p>My posts:</p>
{{#each blogposts}}
<div class="container">
{{> dashboard-details}}
</div>
{{/each}}
<button onclick="window.location.href='/newblogpost';">Add New Post</button>

<script src="../../js/enableDelete.js"></script>