<div>
  <div>
    <h2>Create new blog post</h2>
    <form class="form newBlogPost-form">
      <div>
        <label for="newBlogPost-title">Title:</label>
        <input type="text" id="newBlogPost-title" />
      </div>
      <div>
        <label for="newBlogPost-body">Body:</label>
        <input type="text" id="newBlogPost-body" style="height: 200px"/>
      </div>
      <div style="display: none">
        <input type="text" id="newBlogPost-posted_by" value="{{userId}}" readonly>
      </div>
    <button type="submit">Submit blogpost</button>
    </form>
  </div>
</div>

<script src="./js/newBlogPost.js"></script>