header {
    text-align: center;
    background-color:rgb(46, 38, 28);
}

nav {
    padding: 20px;
    background-color:rgb(46, 38, 28);
}

body {
    background-color:rgba(207, 255, 245, 0.966);
}

h3 {
    color: black;
}